@invicara:registry=https://npm.twinit.dev/
@dtplatform:registry=https://npm.twinit.dev/
//npm.twinit.dev/:username=${DTPLATFORM_KEY}
//npm.twinit.dev/:_password=${DTPLATFORM_SECRET_BASE64}
//npm.twinit.dev/:email=${DTPLATFORM_EMAIL}
//npm.twinit.dev/:always-auth=true
